<div class="container" style="padding-top: 50px;">
<h1><small>Address Details</small></h1>

<div id="address-97785883" class="addressdiv">

    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Address</th>
            <th>{{addressId}}</th>
        </tr>
        <tr>
            <td>Balance</td>
            <td>{{balanceInEther}} NIO</td>
        </tr>
        <tr>
            <td>Code</td>
            <td>
                <code><textarea readonly="readonly" style="width: 100%;">{{code}}</textarea></code>
            </td>
        </tr>
        <tr>
            <td>Transaction Count</td>
            <td>
                {{transactions}}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>

</div>